

body, html {
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.header-grid {
    box-sizing: border-box;
    display: grid;
    max-height: 200px;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px;
    grid-template-areas: "social logo logo account";
    justify-items: center;
}

.logo img {
    height: 100%;
    width: auto;
}

.social, .account {
    align-self: center;
}

.social img, .account img {
    padding: 0 1rem 0 1rem;
}

#nav-flex {
    background-color: #4E5960;
    height: 100%;
    margin: 1rem 0 1rem 0;
    box-shadow: 0px 0px 3px 2px darkgray;
}

#nav-flex ul{
    margin: 0 1rem 0 1rem;
    padding: 1.4rem 0 1.4rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    
    
}

.nav-item {
    align-self: center;
    padding: 0 1.2rem 0 2.4rem;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;

}

.home {
    background-image: url("https://img.icons8.com/glyph-neue/32/ffffff/home.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.75rem;
}

.bedroom {
    background-image: url("https://img.icons8.com/glyph-neue/32/ffffff/bed.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.75rem;
}

.living {
    background-image: url("https://img.icons8.com/glyph-neue/32/ffffff/retro-tv.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.75rem;
}

.dining {
    background-image: url("https://img.icons8.com/glyph-neue/32/ffffff/restaurant-table.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.75rem;
}

.office {
    background-image: url("https://img.icons8.com/ios-filled/32/ffffff/office-chair-2.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.75rem;
}

#banner {
    display: flex;
    width: 80%;
    height: 600px;
    margin: 5px auto;
    background-image: url(../images/banner.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 1px 1px 3px 1px darkgray;

}

.banner-item {
    border: 1px solid #4E5960;
    border-radius: 5;
    justify-self: center;
    margin: 3rem 3rem;
    padding: 1.5rem;
    background-color: #4E5960;
    opacity: 0.9;
    color: white;
    text-align: center;
    align-self: flex-end;
    box-shadow: 1px 1px 3px 2px #4E5960;
}

#product-header {
    margin: 25px;
    text-align: center;
    color: #4E5960;
}

#products {
    border-top: 1px solid #4E5960;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    padding-top: 25px;
    justify-content: space-evenly;
}

.product-item {
    box-shadow: 0px 0px 3px 0.2px #4E5960;
    flex-direction: row;
    margin: 0.5rem 1rem 0.5rem 1rem;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    
}

.product-item img{ 
    max-width: 325px;
}

.product-img {
    text-align: center;
}

.title {
    text-align: center;
    word-wrap: normal;
    padding: 0.5rem;
}

.price {
    text-align: center;
    color: tomato;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
}

footer {
    background-color: #4E5960;
    color: white;
    text-align: center;
    padding: 3rem;

}

@media only screen and (max-width: 1400px) {
    body, html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1120px) {
    body, html {
        font-size: 12px;
    }
    .home, .bedroom, .living, .dining, .office {
        background-image: none;
    }

    .social img, .account img {
        max-width: 2.5rem;
    }
    .nav-item {
        padding: 0 1rem 0 1rem;
        color: white;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
    }
}

@media only screen and (max-width: 820px) {
    .home {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .social {
        display: none;
    }
    .header-grid {
        max-height: 200px;
        width: 100%;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 150px;
        grid-template-areas: "logo logo account";
        justify-items: center;
    }
}

@media only screen and (max-width: 525px) {
    .header-grid {
        grid-template-columns: 4fr 1fr;
    }
}

        